 <div class="page-sidebar" id="sidebar">
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                    <li class="open">
                        <a href="javascript:void(0);" class="menu-dropdown">
                            <i class="menu-icon fa fa-gear"></i>
                            <span class="menu-text">
                                系统设置
                            </span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="/article/system/channel/toChannelManage" class="changeMain">
                                    <i class="newicon">P</i>
                                    <span class="menu-text">频道管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/sync/syncManage" class="changeMain">
                            <i class="menu-icon fa fa-copy"></i>
                            <span class="menu-text">
															同步设置
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="changeMain" href="/notice/toPage">
                            <i class="menu-icon fa fa-list-alt"></i>
                            <span class="menu-text">说明设置</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-dropdown">
                            <i class="menu-icon fa fa-file-text"></i>
                            <span class="menu-text">
                                内容管理
                            </span>
                            <i class="menu-expand"></i>
                        </a>

                         <ul class="submenu" id="content">
                            <li data-link="dinzhi">
                                <a class="changeMain" href="/userCustom/toPage">

                                    <i class="newicon">D</i>
                                    <span class="menu-text">定制管理</span>
                                </a>
                            </li>
                            <li>
                                <a class="changeMain" href="/article/toMain?webSiteId=6">
                                    <i class="newicon">G</i>
                                    <span class="menu-text">钢联数据</span>
                                </a>
                            </li>
                            <li>
                                <a class="changeMain" href="/article/toMain?webSiteId=1">
                                    <i class="newicon">W</i>
                                    <span class="menu-text">我的钢铁网</span>
                                </a>
                            </li>
                            <li>
                                <a class="changeMain" href="/article/toMain?webSiteId=2">
                                    <i class="newicon">W</i>
                                    <span class="menu-text">我的钢铁手机版</span>
                                </a>
                            </li>
                            <li>
                                <a class="changeMain" href="/article/toMain?webSiteId=3">
                                    <i class="newicon">W</i>
                                    <span class="menu-text">我的钢铁英文版</span>
                                </a>
                            </li>
                            <li>
                                <a class="changeMain" href="/article/toMain?webSiteId=4">
                                    <i class="newicon">W</i>
                                    <span class="menu-text">我的有色网</span>
                                </a>
                            </li>
                            <li>
                                <a class="changeMain" href="/article/toMain?webSiteId=5">
                                    <i class="newicon">W</i>
                                    <span class="menu-text">我的农产品网</span>
                                </a>
                            </li>
                            <li>
                                <a class="changeMain" href="/article/toSearch?webSiteId=文章搜索">
                                    <i class="newicon">W</i>
                                    <span class="menu-text">文章搜索</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a  href="javascript:void(0);" class="menu-dropdown">
                            <i class="menu-icon fa fa-comments-o"></i>
                            <span class="menu-text">评论管理</span><span class="tip" id="commentNumTip">（20）</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a class="changeMain" href="/comment/toCommentPage">
                                    <i class="newicon">P</i>
                                     <span class="menu-text">评论</span>
                                </a>
                            </li>
                            <li>
                                <a class="changeMain" href="/comment/toArticlePage">
                                    <i class="newicon">W</i>
                                    <span class="menu-text">文章</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /Sidebar Menu -->
				 <script src="http://a.mysteelcdn.com/libs/mysteelUI/assets/js/jquery-2.0.3.min.js"></script>
			 <script src="/assets/js/js.cookie.js"></script>
            <script>
            	$("#content").delegate("a","click",function(){
            		Cookies.remove("treeNodeId");
            	})
            </script>
            </div>
			